<%- include("partials/header"); %>

<h1>Welcome to ToDo App!</h1>
<p>
    This platform helps you manage your daily tasks
    effectively and efficiently.

    <a href="/auth/sign_up">Sign Up</a>
    <a href="/auth/log_in">Log In</a>
</p>

<%- include("partials/footer"); %>